@using MuseCommerce.Data.Model
@model PORequest
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/DataTables")
}
<div class="row">
    


</div>


@section Scripts {
    @Scripts.Render("~/bundles/baseform")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularui")
    @Scripts.Render("~/bundles/ngbaseform")
    @Scripts.Render("~/bundles/porequest")
}
