
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/DataTables")
}

<div class="row" ng-app="porequestapp" ng-controller="porequestCtrl">
    <div ui-view></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/baseform")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularui")
    @Scripts.Render("~/bundles/ngbaseform")
    @Scripts.Render("~/bundles/porequest")
}

<script type="text/javascript">

    var checkdate = function () {
        $('[data-provide="datepicker-inline"]').datepicker();
    };

</script>