<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")   
</head>
<body class="gray-bg">
    <div class="row wrapper wrapper-content animated fadeInRight">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
